*{
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
    background-color: rgb(222 218 218);
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: darkgrey;
}
main{
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_container{
    width: 70%;
    max-width: 400px;
    min-height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

form{
    width: 80%;
}
.field{
    width: 100%;
    margin: 20px 0px;
    border: 1px solid;
    border-radius: 4px;
    border-color: lightgray;
    padding: 5px 3px;
    display: flex;
    flex-direction: row;
}

.field_input{
    width: 100%;
    border: none;
    padding-left:5px;
    font-size: 14px;
    color: gray;

}
.field_icon{
    width: 24px;
    height: auto;
    color: rgb(82, 82, 82);
}
.field_button{
    width: 100%;
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
}
.field_button_input{
    width: 100%;
    height: 35px;
    border: 1px solid;
    border-radius: 4px 0px 0px 4px;
    border-color: lightgray;
}
.gustos_button{
    border: 1px solid;
    border-radius: 0px 4px 4px 0px;
    border-color: rgb(14, 237, 89);
    padding: 8px 8px 5px 8px;
    color:rgb(41, 199, 93);
}

/* Seccion de gustos*/
.gustos{
    display: flex;
    flex-direction: row;
    padding: 15px 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.gustos_img{
    border-radius: 4px;
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(14, 237, 89);
}
#flag{
    font-size: 40px;
}
.flag{
    color: white;
}

.gustos_table{
    width: 100%;
    margin-left: 15px;
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
}
.gustos_table_header,
.gusto_table_row{
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    text-align: left;
    grid-column-gap: 1px;
    background-color: lightgray;
    border-bottom: 1px solid lightgrey;
}
.gusto_table_row input{
    width: 100%;
    margin: 0px;
    padding: 8px;
    overflow: scroll;
}
.disabled input{
    border: none;
    cursor: pointer;
}
th{
    padding: 8px;
    background-color: white;
}
td{
    background-color: white;
}

.button{
    border: 1px solid;
    padding: 8px 8px 5px 8px;
    border-radius: 4px;
}

.button_red{
    border-color: red;
    color:rgb(199, 41, 41);
}
.button_gray{
    border-color: gray;
    color:darkslategray;
}

.hidden{
    display: none;
}

.editar_row{
    padding: 5px;
    color: blue;
    cursor: pointer;
}

.enEdicion{
    color: darkgray;
}

.card_container{
    width: 70%;
    max-width: 400px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.card{
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    border: none;
}
.card_header{
    background-color: rgb(127, 127, 244);
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

.card_row{
    padding: 10px;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#smile{
    font-size: 50px;
    color: black;
}

.row_content{
    padding: 0px 30px;
    border-radius: 30px;
    color: black;
    min-width: 60px;
    text-align: center;
}
.row_title{
    color: rgb(0, 132, 255);
    font-weight: bold;
}

.email_e{
    background-color: lightblue;
}
.phone_e{
    background-color: orange;
}
.gusto_e{
    background-color: greenyellow;
}
.porcentaje_e{
    background-color: red;
}